@import url("https://fonts.googleapis.com/css2?family=Truculenta&display=swap");

:root {
  --primary-background: #121212;
  --primary-primary: #bb86fc;
  --primary-secondary: #3700b3;
  --secondary-secondary: #03dac5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
}
.container {
  border: var(--primary-primary) 10px solid;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.heading {
  color: var(--primary-primary);
  font-family: "Truculenta", sans-serif;
  font-size: 8vw;
}
#imgTxt {
  color: var(--secondary-secondary);
  font-family: "Truculenta", sans-serif;
  font-size: 5vw;
}
#img {
  width: 20vw;
}

@media screen and (min-width: 48em) {
  .heading {
    font-size: 5vw;
  }
  #imgTxt {
    font-size: 2.5vw;
  }
}
